.background {
    background: rgba(black, 0.5);
    position: fixed;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

.base {
    background: white;
    padding: 20px;
    position: relative;
    top: 180px;
    box-shadow: 0 0 0 5px rgba(white, 0.25);
    border-radius: 5px;
}

.tabs {
    margin-top: -58px;

    & > ul > li {
        background: #F5F5F5;
        margin-left: 5px;
        border-radius: 5px 5px 0 0;
        color: #0275D8;
        vertical-align: bottom;

        &[role=tab][aria-selected=true] {
            padding: 10px 12px;
            color: #373A3C;
        }
    }
}

.h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: normal;
    margin: 30px 0;
}

.h2 {
    background: #2F5A59;
    color: white;
    padding: 5px 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;
    display: inline-block;
}

.text {
}

.box {
}

.header {
}

.column {
}

.close {
}

.plus {
}

.copy {
}

.nav {
}

.tab {
}