$c1: #F5F5F5;

.background {
    background: rgba(black, 0.5);
    position: fixed;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

.base {
    background: white;
    padding: 20px;
    position: relative;
    top: 180px;
    box-shadow: 0 0 0 5px rgba(white, 0.25);
    border-radius: 5px;
    user-select: none;

    * {
        user-select: none;
        font-family: 'Open Sans', Arial, Helvetica, sans-serif ;
    }
}

.tabs {
    margin-top: -58px;

    & > ul > li {
        background: $c1;
        margin-left: 5px;
        border-radius: 5px 5px 0 0;
        color: #0275D8;
        vertical-align: bottom;

        &[role=tab][aria-selected=true] {
            padding: 10px 12px;
            color: #373A3C;
        }
    }
}
