$c1: #343434;
$c2: #E0E0E0;
$c3: #2F5A59;
$c4: #1FADD6;
$c5: #E1E1E1;
$c6: #F5F5F5;
$c7: #6C6C6C;
$c8: #BBBDC1;
$c9: #CCCCCC;
$c10: #c1c1c1;

.h1 {
    font-size: 24px;
    font-weight: normal;
    margin: 30px 0;
}

.h2 {
    background: $c3;
    color: white;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: normal;
    display: inline-block;
}

.componentsContainer {
    height: 150px;
    border: 1px solid $c5;
    padding: 10px;

    ul {
        list-style: none;
        height: 100%;
        overflow: auto;
    }

    li {
        display: inline-block;
        font-size: 14px;
        color: white;
        background: $c4;
        border-radius: 2px;
        line-height: 25px;
        height: 25px;
        padding: 0 10px;
        margin: 0 5px 5px 0;
        cursor: move;
        transition: background .4s;

        .close {
            display: none;
        }
    }
}

.codeContainer {
    height: 150px;
    border: 1px solid $c5;
    position: relative;

    transition: all .5s;

    &:hover {
        border-color: $c1;

        .copy {
            background: $c1;
        }

        .code {
            color: $c1;
        }
    }
}

.code {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 10px;
    color: $c10;
    font-size: 12px;
    transition: all .5s;
    user-select: all;

    &::selection {
        background: $c3;
        color: white;
    }
}

.copy {
    position: absolute;
    bottom: 0;
    right: 0;
    background: $c9;
    color: white;
    text-align: center;
    font-size: 16px;
    padding: 5px 10px;
    border-top-left-radius: 10px;
    cursor: pointer;
    transition: background .5s;
}

.container {
    margin-top: 30px;
    width: 100%;
    clear: both;
    float: left;

    p {
        color: $c7;
        font-size: 12px;
        line-height: 17px;
    }
}

.header {
    float: left;
    width: 100%;
    border: 1px solid $c5;
    padding: 10px;
    border-spacing: 10px;
    box-shadow: 2px 3px 2px 0 rgba(0,0,0,0.1);
    display: table;
}

.headerArea {
    display: flex;

    ul {
        background: $c6;
        border: 2px dashed $c2;
        padding: 10px;
        min-height: 60px;
        font-weight: bold;
        color: $c8;
        position: relative;
        list-style: none;
        margin: 5px;
        width: 100%;
        z-index: 1;

        &:nth-child(2) {
            text-align: center;
        }

        &:last-child {
            text-align: right;
        }

        &:before {
            position: absolute;
            z-index: -1;
            text-align: center;
            width: 100%;
            left: 0;
            top: calc(50% - 7px);
        }
    }

    li {
        display: inline-block;
        font-size: 12px;
        font-weight: normal;
        color: white;
        background: $c4;
        border-radius: 2px;
        line-height: 25px;
        height: 25px;
        padding: 0 10px;
        margin: 0 5px 5px 0;
        cursor: move;
    }

    &:first-child {
        ul:first-child:before { content: 'TOP LEFT'; }
        ul:nth-child(2):before { content: 'TOP CENTER'; }
        ul:last-child:before { content: 'TOP RIGHT'; }
    }

    &:nth-child(2) {
        ul:first-child:before { content: 'MAIN LEFT'; }
        ul:nth-child(2):before { content: 'MAIN CENTER'; }
        ul:last-child:before { content: 'MAIN RIGHT'; }
    }

    &:last-child {
        ul:first-child:before { content: 'BOTTOM LEFT'; }
        ul:nth-child(2):before { content: 'BOTTOM CENTER'; }
        ul:last-child:before { content: 'BOTTOM RIGHT'; }
    }
}