{
  "presets": [["es2015", {"modules": false}], "react"],
  "plugins": [
    "transform-decorators-legacy",
    "transform-class-properties",
    "syntax-decorators",
    "transform-object-rest-spread",
    "transform-export-extensions"
  ],
  "env": {
    "test": {
      "plugins": [
        "transform-es2015-modules-commonjs"
      ]
    }
  }
}
