.HeaderCell__background___1Ql0c {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

.HeaderCell__base___2FkxL {
  background: white;
  padding: 20px;
  position: relative;
  top: 180px;
  box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.25);
  border-radius: 5px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.HeaderCell__base___2FkxL * {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

.HeaderCell__tabs___VUoZG {
  margin-top: -58px;
}

.HeaderCell__tabs___VUoZG > ul > li {
  background: #F5F5F5;
  margin-left: 5px;
  border-radius: 5px 5px 0 0;
  color: #0275D8;
  vertical-align: bottom;
}

.HeaderCell__tabs___VUoZG > ul > li[role=tab][aria-selected=true] {
  padding: 10px 12px;
  color: #373A3C;
}

.HeaderCell__h1___AMP2q {
  font-size: 24px;
  font-weight: normal;
  margin: 30px 0;
}

.HeaderCell__h2___3F04f {
  background: #2F5A59;
  color: white;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: normal;
  display: inline-block;
}

.HeaderCell__componentsContainer___1VmTX {
  height: 150px;
  border: 1px solid #E1E1E1;
  padding: 10px;
}

.HeaderCell__componentsContainer___1VmTX ul {
  list-style: none;
  height: 100%;
  overflow: auto;
}

.HeaderCell__componentsContainer___1VmTX li {
  display: inline-block;
  font-size: 14px;
  color: white;
  background: #1FADD6;
  border-radius: 2px;
  line-height: 25px;
  height: 25px;
  padding: 0 10px;
  margin: 0 5px 5px 0;
  cursor: move;
  -webkit-transition: background .4s;
  transition: background .4s;
}

.HeaderCell__componentsContainer___1VmTX li .HeaderCell__close___mdp4A {
  display: none;
}

.HeaderCell__codeContainer___3U1bZ {
  height: 150px;
  border: 1px solid #E1E1E1;
  position: relative;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.HeaderCell__codeContainer___3U1bZ:hover {
  border-color: #343434;
}

.HeaderCell__codeContainer___3U1bZ:hover .HeaderCell__copy___cSrlD {
  background: #343434;
}

.HeaderCell__codeContainer___3U1bZ:hover .HeaderCell__code___2YsRj {
  color: #343434;
}

.HeaderCell__code___2YsRj {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 10px;
  color: #c1c1c1;
  font-size: 12px;
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-user-select: all;
     -moz-user-select: all;
      -ms-user-select: all;
          user-select: all;
}

.HeaderCell__code___2YsRj::-moz-selection {
  background: #2F5A59;
  color: white;
}

.HeaderCell__code___2YsRj::selection {
  background: #2F5A59;
  color: white;
}

.HeaderCell__copy___cSrlD {
  position: absolute;
  bottom: 0;
  right: 0;
  background: #CCCCCC;
  color: white;
  text-align: center;
  font-size: 16px;
  padding: 5px 10px;
  border-top-left-radius: 10px;
  cursor: pointer;
  -webkit-transition: background .5s;
  transition: background .5s;
}

.HeaderCell__container___1JghA {
  margin-top: 30px;
  width: 100%;
  clear: both;
  float: left;
}

.HeaderCell__container___1JghA p {
  color: #6C6C6C;
  font-size: 12px;
  line-height: 17px;
}

.HeaderCell__header___hEIM6 {
  float: left;
  width: 100%;
  border: 1px solid #E1E1E1;
  padding: 10px;
  border-spacing: 10px;
  box-shadow: 2px 3px 2px 0 rgba(0, 0, 0, 0.1);
  display: table;
}

.HeaderCell__headerArea___1f95w {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.HeaderCell__headerArea___1f95w ul {
  background: #F5F5F5;
  border: 2px dashed #E0E0E0;
  padding: 10px;
  min-height: 60px;
  font-weight: bold;
  color: #BBBDC1;
  position: relative;
  list-style: none;
  margin: 5px;
  width: 100%;
  z-index: 1;
}

.HeaderCell__headerArea___1f95w ul:nth-child(2) {
  text-align: center;
}

.HeaderCell__headerArea___1f95w ul:last-child {
  text-align: right;
}

.HeaderCell__headerArea___1f95w ul:before {
  position: absolute;
  z-index: -1;
  text-align: center;
  width: 100%;
  left: 0;
  top: calc(50% - 7px);
}

.HeaderCell__headerArea___1f95w li {
  display: inline-block;
  font-size: 12px;
  font-weight: normal;
  color: white;
  background: #1FADD6;
  border-radius: 2px;
  line-height: 25px;
  height: 25px;
  padding: 0 10px;
  margin: 0 5px 5px 0;
  cursor: move;
}

.HeaderCell__headerArea___1f95w:first-child ul:first-child:before {
  content: 'TOP LEFT';
}

.HeaderCell__headerArea___1f95w:first-child ul:nth-child(2):before {
  content: 'TOP CENTER';
}

.HeaderCell__headerArea___1f95w:first-child ul:last-child:before {
  content: 'TOP RIGHT';
}

.HeaderCell__headerArea___1f95w:nth-child(2) ul:first-child:before {
  content: 'MAIN LEFT';
}

.HeaderCell__headerArea___1f95w:nth-child(2) ul:nth-child(2):before {
  content: 'MAIN CENTER';
}

.HeaderCell__headerArea___1f95w:nth-child(2) ul:last-child:before {
  content: 'MAIN RIGHT';
}

.HeaderCell__headerArea___1f95w:last-child ul:first-child:before {
  content: 'BOTTOM LEFT';
}

.HeaderCell__headerArea___1f95w:last-child ul:nth-child(2):before {
  content: 'BOTTOM CENTER';
}

.HeaderCell__headerArea___1f95w:last-child ul:last-child:before {
  content: 'BOTTOM RIGHT';
}

.HeaderCell__close___mdp4A {
  display: inline-block;
  color: white;
  font-size: 10px;
  line-height: 25px;
  margin-left: 5px;
  cursor: pointer;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.HeaderCell__close___mdp4A:hover {
  -webkit-transform: rotate(1turn);
          transform: rotate(1turn);
}

.HeaderCell__plus___2dasY {
  display: inline-block;
  color: white;
  background: #D8D8D8;
  font-size: 15px;
  line-height: 15px;
  width: 15px;
  height: 15px;
  vertical-align: middle;
  text-align: center;
  margin: 0 5px;
}

.HeaderCell__sortableGhost___YQJ-8 {
  opacity: 0.4;
}

.HeaderTab__background___30WoM {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

.HeaderTab__base___1Zfnj {
  background: white;
  padding: 20px;
  position: relative;
  top: 180px;
  box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.25);
  border-radius: 5px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.HeaderTab__base___1Zfnj * {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

.HeaderTab__tabs___3u1e5 {
  margin-top: -58px;
}

.HeaderTab__tabs___3u1e5 > ul > li {
  background: #F5F5F5;
  margin-left: 5px;
  border-radius: 5px 5px 0 0;
  color: #0275D8;
  vertical-align: bottom;
}

.HeaderTab__tabs___3u1e5 > ul > li[role=tab][aria-selected=true] {
  padding: 10px 12px;
  color: #373A3C;
}

.HeaderTab__h1___Dz-fE {
  font-size: 24px;
  font-weight: normal;
  margin: 30px 0;
}

.HeaderTab__h2___3vAEo {
  background: #2F5A59;
  color: white;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: normal;
  display: inline-block;
}

.HeaderTab__componentsContainer___2EEBL {
  height: 150px;
  border: 1px solid #E1E1E1;
  padding: 10px;
}

.HeaderTab__componentsContainer___2EEBL ul {
  list-style: none;
  height: 100%;
  overflow: auto;
}

.HeaderTab__componentsContainer___2EEBL li {
  display: inline-block;
  font-size: 14px;
  color: white;
  background: #1FADD6;
  border-radius: 2px;
  line-height: 25px;
  height: 25px;
  padding: 0 10px;
  margin: 0 5px 5px 0;
  cursor: move;
  -webkit-transition: background .4s;
  transition: background .4s;
}

.HeaderTab__componentsContainer___2EEBL li .HeaderTab__close___1q9yH {
  display: none;
}

.HeaderTab__codeContainer___1P4L2 {
  height: 150px;
  border: 1px solid #E1E1E1;
  position: relative;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.HeaderTab__codeContainer___1P4L2:hover {
  border-color: #343434;
}

.HeaderTab__codeContainer___1P4L2:hover .HeaderTab__copy___2HZFq {
  background: #343434;
}

.HeaderTab__codeContainer___1P4L2:hover .HeaderTab__code___3cX3C {
  color: #343434;
}

.HeaderTab__code___3cX3C {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 10px;
  color: #c1c1c1;
  font-size: 12px;
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-user-select: all;
     -moz-user-select: all;
      -ms-user-select: all;
          user-select: all;
}

.HeaderTab__code___3cX3C::-moz-selection {
  background: #2F5A59;
  color: white;
}

.HeaderTab__code___3cX3C::selection {
  background: #2F5A59;
  color: white;
}

.HeaderTab__copy___2HZFq {
  position: absolute;
  bottom: 0;
  right: 0;
  background: #CCCCCC;
  color: white;
  text-align: center;
  font-size: 16px;
  padding: 5px 10px;
  border-top-left-radius: 10px;
  cursor: pointer;
  -webkit-transition: background .5s;
  transition: background .5s;
}

.HeaderTab__container___3DyOL {
  margin-top: 30px;
  width: 100%;
  clear: both;
  float: left;
}

.HeaderTab__container___3DyOL p {
  color: #6C6C6C;
  font-size: 12px;
  line-height: 17px;
}

.HeaderTab__header___2oV2U {
  float: left;
  width: 100%;
  border: 1px solid #E1E1E1;
  padding: 10px;
  border-spacing: 10px;
  box-shadow: 2px 3px 2px 0 rgba(0, 0, 0, 0.1);
  display: table;
}

.HeaderTab__headerArea___pp4kQ {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.HeaderTab__headerArea___pp4kQ ul {
  background: #F5F5F5;
  border: 2px dashed #E0E0E0;
  padding: 10px;
  min-height: 60px;
  font-weight: bold;
  color: #BBBDC1;
  position: relative;
  list-style: none;
  margin: 5px;
  width: 100%;
  z-index: 1;
}

.HeaderTab__headerArea___pp4kQ ul:nth-child(2) {
  text-align: center;
}

.HeaderTab__headerArea___pp4kQ ul:last-child {
  text-align: right;
}

.HeaderTab__headerArea___pp4kQ ul:before {
  position: absolute;
  z-index: -1;
  text-align: center;
  width: 100%;
  left: 0;
  top: calc(50% - 7px);
}

.HeaderTab__headerArea___pp4kQ li {
  display: inline-block;
  font-size: 12px;
  font-weight: normal;
  color: white;
  background: #1FADD6;
  border-radius: 2px;
  line-height: 25px;
  height: 25px;
  padding: 0 10px;
  margin: 0 5px 5px 0;
  cursor: move;
}

.HeaderTab__headerArea___pp4kQ:first-child ul:first-child:before {
  content: 'TOP LEFT';
}

.HeaderTab__headerArea___pp4kQ:first-child ul:nth-child(2):before {
  content: 'TOP CENTER';
}

.HeaderTab__headerArea___pp4kQ:first-child ul:last-child:before {
  content: 'TOP RIGHT';
}

.HeaderTab__headerArea___pp4kQ:nth-child(2) ul:first-child:before {
  content: 'MAIN LEFT';
}

.HeaderTab__headerArea___pp4kQ:nth-child(2) ul:nth-child(2):before {
  content: 'MAIN CENTER';
}

.HeaderTab__headerArea___pp4kQ:nth-child(2) ul:last-child:before {
  content: 'MAIN RIGHT';
}

.HeaderTab__headerArea___pp4kQ:last-child ul:first-child:before {
  content: 'BOTTOM LEFT';
}

.HeaderTab__headerArea___pp4kQ:last-child ul:nth-child(2):before {
  content: 'BOTTOM CENTER';
}

.HeaderTab__headerArea___pp4kQ:last-child ul:last-child:before {
  content: 'BOTTOM RIGHT';
}

.HeaderTab__close___1q9yH {
  display: inline-block;
  color: white;
  font-size: 10px;
  line-height: 25px;
  margin-left: 5px;
  cursor: pointer;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.HeaderTab__close___1q9yH:hover {
  -webkit-transform: rotate(1turn);
          transform: rotate(1turn);
}

.HeaderTab__plus___1Nz64 {
  display: inline-block;
  color: white;
  background: #D8D8D8;
  font-size: 15px;
  line-height: 15px;
  width: 15px;
  height: 15px;
  vertical-align: middle;
  text-align: center;
  margin: 0 5px;
}

.HeaderTab__sortableGhost___3DesU {
  opacity: 0.4;
}

.HeaderWrapper__background___2Dn0I {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

.HeaderWrapper__base___3hhsF {
  background: white;
  padding: 20px;
  position: relative;
  top: 180px;
  box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.25);
  border-radius: 5px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.HeaderWrapper__base___3hhsF * {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

.HeaderWrapper__tabs___3sI1z {
  margin-top: -58px;
}

.HeaderWrapper__tabs___3sI1z > ul > li {
  background: #F5F5F5;
  margin-left: 5px;
  border-radius: 5px 5px 0 0;
  color: #0275D8;
  vertical-align: bottom;
}

.HeaderWrapper__tabs___3sI1z > ul > li[role=tab][aria-selected=true] {
  padding: 10px 12px;
  color: #373A3C;
}

.HeaderWrapper__h1___3GqJ6 {
  font-size: 24px;
  font-weight: normal;
  margin: 30px 0;
}

.HeaderWrapper__h2___kp4P- {
  background: #2F5A59;
  color: white;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: normal;
  display: inline-block;
}

.HeaderWrapper__componentsContainer___2TZyK {
  height: 150px;
  border: 1px solid #E1E1E1;
  padding: 10px;
}

.HeaderWrapper__componentsContainer___2TZyK ul {
  list-style: none;
  height: 100%;
  overflow: auto;
}

.HeaderWrapper__componentsContainer___2TZyK li {
  display: inline-block;
  font-size: 14px;
  color: white;
  background: #1FADD6;
  border-radius: 2px;
  line-height: 25px;
  height: 25px;
  padding: 0 10px;
  margin: 0 5px 5px 0;
  cursor: move;
  -webkit-transition: background .4s;
  transition: background .4s;
}

.HeaderWrapper__componentsContainer___2TZyK li .HeaderWrapper__close___2nZ32 {
  display: none;
}

.HeaderWrapper__codeContainer___220YN {
  height: 150px;
  border: 1px solid #E1E1E1;
  position: relative;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.HeaderWrapper__codeContainer___220YN:hover {
  border-color: #343434;
}

.HeaderWrapper__codeContainer___220YN:hover .HeaderWrapper__copy___21Gva {
  background: #343434;
}

.HeaderWrapper__codeContainer___220YN:hover .HeaderWrapper__code___2vaLF {
  color: #343434;
}

.HeaderWrapper__code___2vaLF {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 10px;
  color: #c1c1c1;
  font-size: 12px;
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-user-select: all;
     -moz-user-select: all;
      -ms-user-select: all;
          user-select: all;
}

.HeaderWrapper__code___2vaLF::-moz-selection {
  background: #2F5A59;
  color: white;
}

.HeaderWrapper__code___2vaLF::selection {
  background: #2F5A59;
  color: white;
}

.HeaderWrapper__copy___21Gva {
  position: absolute;
  bottom: 0;
  right: 0;
  background: #CCCCCC;
  color: white;
  text-align: center;
  font-size: 16px;
  padding: 5px 10px;
  border-top-left-radius: 10px;
  cursor: pointer;
  -webkit-transition: background .5s;
  transition: background .5s;
}

.HeaderWrapper__container___2Om8W {
  margin-top: 30px;
  width: 100%;
  clear: both;
  float: left;
}

.HeaderWrapper__container___2Om8W p {
  color: #6C6C6C;
  font-size: 12px;
  line-height: 17px;
}

.HeaderWrapper__header___2zbuF {
  float: left;
  width: 100%;
  border: 1px solid #E1E1E1;
  padding: 10px;
  border-spacing: 10px;
  box-shadow: 2px 3px 2px 0 rgba(0, 0, 0, 0.1);
  display: table;
}

.HeaderWrapper__headerArea___11EXk {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.HeaderWrapper__headerArea___11EXk ul {
  background: #F5F5F5;
  border: 2px dashed #E0E0E0;
  padding: 10px;
  min-height: 60px;
  font-weight: bold;
  color: #BBBDC1;
  position: relative;
  list-style: none;
  margin: 5px;
  width: 100%;
  z-index: 1;
}

.HeaderWrapper__headerArea___11EXk ul:nth-child(2) {
  text-align: center;
}

.HeaderWrapper__headerArea___11EXk ul:last-child {
  text-align: right;
}

.HeaderWrapper__headerArea___11EXk ul:before {
  position: absolute;
  z-index: -1;
  text-align: center;
  width: 100%;
  left: 0;
  top: calc(50% - 7px);
}

.HeaderWrapper__headerArea___11EXk li {
  display: inline-block;
  font-size: 12px;
  font-weight: normal;
  color: white;
  background: #1FADD6;
  border-radius: 2px;
  line-height: 25px;
  height: 25px;
  padding: 0 10px;
  margin: 0 5px 5px 0;
  cursor: move;
}

.HeaderWrapper__headerArea___11EXk:first-child ul:first-child:before {
  content: 'TOP LEFT';
}

.HeaderWrapper__headerArea___11EXk:first-child ul:nth-child(2):before {
  content: 'TOP CENTER';
}

.HeaderWrapper__headerArea___11EXk:first-child ul:last-child:before {
  content: 'TOP RIGHT';
}

.HeaderWrapper__headerArea___11EXk:nth-child(2) ul:first-child:before {
  content: 'MAIN LEFT';
}

.HeaderWrapper__headerArea___11EXk:nth-child(2) ul:nth-child(2):before {
  content: 'MAIN CENTER';
}

.HeaderWrapper__headerArea___11EXk:nth-child(2) ul:last-child:before {
  content: 'MAIN RIGHT';
}

.HeaderWrapper__headerArea___11EXk:last-child ul:first-child:before {
  content: 'BOTTOM LEFT';
}

.HeaderWrapper__headerArea___11EXk:last-child ul:nth-child(2):before {
  content: 'BOTTOM CENTER';
}

.HeaderWrapper__headerArea___11EXk:last-child ul:last-child:before {
  content: 'BOTTOM RIGHT';
}

.HeaderWrapper__close___2nZ32 {
  display: inline-block;
  color: white;
  font-size: 10px;
  line-height: 25px;
  margin-left: 5px;
  cursor: pointer;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.HeaderWrapper__close___2nZ32:hover {
  -webkit-transform: rotate(1turn);
          transform: rotate(1turn);
}

.HeaderWrapper__plus___ZN8a3 {
  display: inline-block;
  color: white;
  background: #D8D8D8;
  font-size: 15px;
  line-height: 15px;
  width: 15px;
  height: 15px;
  vertical-align: middle;
  text-align: center;
  margin: 0 5px;
}

.HeaderWrapper__sortableGhost___2KmM3 {
  opacity: 0.4;
}


/*# sourceMappingURL=helpers.css.map*/