.modal-component__background___3zBb8 {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

.modal-component__base___Foo95 {
  background: white;
  padding: 20px;
  position: relative;
  top: 180px;
  box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.25);
  border-radius: 5px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.modal-component__base___Foo95 * {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

.modal-component__tabs___2X1gz {
  margin-top: -58px;
}

.modal-component__tabs___2X1gz > ul > li {
  background: #F5F5F5;
  margin-left: 5px;
  border-radius: 5px 5px 0 0;
  color: #0275D8;
  vertical-align: bottom;
}

.modal-component__tabs___2X1gz > ul > li[role=tab][aria-selected=true] {
  padding: 10px 12px;
  color: #373A3C;
}

.modal-component__h1___2qlO_ {
  font-size: 24px;
  font-weight: normal;
  margin: 30px 0;
}

.modal-component__h2___3vqf3 {
  background: #2F5A59;
  color: white;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: normal;
  display: inline-block;
}

.modal-component__componentsContainer___iYCYB {
  height: 150px;
  border: 1px solid #E1E1E1;
  padding: 10px;
}

.modal-component__componentsContainer___iYCYB ul {
  list-style: none;
  height: 100%;
  overflow: auto;
}

.modal-component__componentsContainer___iYCYB li {
  display: inline-block;
  font-size: 14px;
  color: white;
  background: #1FADD6;
  border-radius: 2px;
  line-height: 25px;
  height: 25px;
  padding: 0 10px;
  margin: 0 5px 5px 0;
  cursor: move;
  -webkit-transition: background .4s;
  transition: background .4s;
}

.modal-component__componentsContainer___iYCYB li .modal-component__close___zu2jg {
  display: none;
}

.modal-component__codeContainer___xDdsi {
  height: 150px;
  border: 1px solid #E1E1E1;
  position: relative;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.modal-component__codeContainer___xDdsi:hover {
  border-color: #343434;
}

.modal-component__codeContainer___xDdsi:hover .modal-component__copy___1LHeL {
  background: #343434;
}

.modal-component__codeContainer___xDdsi:hover .modal-component__code___1HpGW {
  color: #343434;
}

.modal-component__code___1HpGW {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 10px;
  color: #c1c1c1;
  font-size: 12px;
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-user-select: all;
     -moz-user-select: all;
      -ms-user-select: all;
          user-select: all;
}

.modal-component__code___1HpGW::-moz-selection {
  background: #2F5A59;
  color: white;
}

.modal-component__code___1HpGW::selection {
  background: #2F5A59;
  color: white;
}

.modal-component__copy___1LHeL {
  position: absolute;
  bottom: 0;
  right: 0;
  background: #CCCCCC;
  color: white;
  text-align: center;
  font-size: 16px;
  padding: 5px 10px;
  border-top-left-radius: 10px;
  cursor: pointer;
  -webkit-transition: background .5s;
  transition: background .5s;
}

.modal-component__container___33CgX {
  margin-top: 30px;
  width: 100%;
  clear: both;
  float: left;
}

.modal-component__container___33CgX p {
  color: #6C6C6C;
  font-size: 12px;
  line-height: 17px;
}

.modal-component__header___26cIe {
  float: left;
  width: 100%;
  border: 1px solid #E1E1E1;
  padding: 10px;
  border-spacing: 10px;
  box-shadow: 2px 3px 2px 0 rgba(0, 0, 0, 0.1);
  display: table;
}

.modal-component__headerArea___3tnFQ {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-component__headerArea___3tnFQ ul {
  background: #F5F5F5;
  border: 2px dashed #E0E0E0;
  padding: 10px;
  min-height: 60px;
  font-weight: bold;
  color: #BBBDC1;
  position: relative;
  list-style: none;
  margin: 5px;
  width: 100%;
  z-index: 1;
}

.modal-component__headerArea___3tnFQ ul:nth-child(2) {
  text-align: center;
}

.modal-component__headerArea___3tnFQ ul:last-child {
  text-align: right;
}

.modal-component__headerArea___3tnFQ ul:before {
  position: absolute;
  z-index: -1;
  text-align: center;
  width: 100%;
  left: 0;
  top: calc(50% - 7px);
}

.modal-component__headerArea___3tnFQ li {
  display: inline-block;
  font-size: 12px;
  font-weight: normal;
  color: white;
  background: #1FADD6;
  border-radius: 2px;
  line-height: 25px;
  height: 25px;
  padding: 0 10px;
  margin: 0 5px 5px 0;
  cursor: move;
}

.modal-component__headerArea___3tnFQ:first-child ul:first-child:before {
  content: 'TOP LEFT';
}

.modal-component__headerArea___3tnFQ:first-child ul:nth-child(2):before {
  content: 'TOP CENTER';
}

.modal-component__headerArea___3tnFQ:first-child ul:last-child:before {
  content: 'TOP RIGHT';
}

.modal-component__headerArea___3tnFQ:nth-child(2) ul:first-child:before {
  content: 'MAIN LEFT';
}

.modal-component__headerArea___3tnFQ:nth-child(2) ul:nth-child(2):before {
  content: 'MAIN CENTER';
}

.modal-component__headerArea___3tnFQ:nth-child(2) ul:last-child:before {
  content: 'MAIN RIGHT';
}

.modal-component__headerArea___3tnFQ:last-child ul:first-child:before {
  content: 'BOTTOM LEFT';
}

.modal-component__headerArea___3tnFQ:last-child ul:nth-child(2):before {
  content: 'BOTTOM CENTER';
}

.modal-component__headerArea___3tnFQ:last-child ul:last-child:before {
  content: 'BOTTOM RIGHT';
}

.modal-component__close___zu2jg {
  display: inline-block;
  color: white;
  font-size: 10px;
  line-height: 25px;
  margin-left: 5px;
  cursor: pointer;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.modal-component__close___zu2jg:hover {
  -webkit-transform: rotate(1turn);
          transform: rotate(1turn);
}

.modal-component__sortableGhost___3VGTm {
  opacity: 0.4;
}


/*# sourceMappingURL=helpers.css.map*/