.modal__background___mDJI- {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 999;
  width: 100vw;
  height: 100%;
  overflow: auto;
  top: 0;
  left: 0;
}

.modal__base___2BPmY {
  background: white;
  padding: 0 0 20px;
  position: relative;
  top: 100px;
  box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.25);
  border-radius: 5px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.modal__base___2BPmY * {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

.modal__tabs___311oU {
  padding: 20px;
}

.modal__tabs___311oU > ul[role=tablist] {
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 20px;
}

.modal__tabs___311oU > ul > li {
  margin-left: 5px;
  border-radius: 5px 5px 0 0;
  color: #337ab7;
  text-transform: capitalize;
}

.modal__tabs___311oU > ul > li[role=tab][aria-selected=true] {
  padding: 10px 12px;
  color: #555;
  border-color: #e4e4e4;
}

.modal__h1___3fear {
  font-size: 24px;
  font-weight: bold;
  padding: 20px;
  border-bottom: 1px solid #f0f0f0;
  margin: 0;
}

.modal__h2___zz4eu {
  background: #2F5A59;
  color: white;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: normal;
  display: inline-block;
}

.modal__componentsContainer___Ktsdd {
  height: 150px;
  border: 1px solid #E1E1E1;
  padding: 10px;
}

.modal__componentsContainer___Ktsdd ul {
  list-style: none;
  height: 100%;
  overflow: auto;
}

.modal__componentsContainer___Ktsdd li {
  display: inline-block;
  font-size: 14px;
  color: white;
  background: #1FADD6;
  border-radius: 2px;
  line-height: 25px;
  height: 25px;
  padding: 0 10px;
  margin: 0 5px 5px 0;
  cursor: move;
  -webkit-transition: background .4s;
  transition: background .4s;
}

.modal__componentsContainer___Ktsdd li .modal__close___3_Fj5 {
  display: none;
}

.modal__codeContainer___33En6 {
  height: 150px;
  border: 1px solid #E1E1E1;
  position: relative;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.modal__codeContainer___33En6:hover {
  border-color: #343434;
}

.modal__codeContainer___33En6:hover .modal__copy___3Pa4n {
  background: #343434;
}

.modal__codeContainer___33En6:hover .modal__code___16U3F {
  color: #343434;
}

.modal__code___16U3F {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 10px;
  color: #c1c1c1;
  font-size: 12px;
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-user-select: all;
     -moz-user-select: all;
      -ms-user-select: all;
          user-select: all;
}

.modal__code___16U3F::-moz-selection {
  background: #2F5A59;
  color: white;
}

.modal__code___16U3F::selection {
  background: #2F5A59;
  color: white;
}

.modal__copy___3Pa4n {
  position: absolute;
  bottom: 0;
  right: 0;
  background: #CCCCCC;
  color: white;
  text-align: center;
  font-size: 16px;
  padding: 5px 10px;
  border-top-left-radius: 10px;
  cursor: pointer;
  -webkit-transition: background .5s;
  transition: background .5s;
}

.modal__container___1z25g {
  margin-top: 30px;
  width: 100%;
  clear: both;
  float: left;
}

.modal__container___1z25g p {
  color: #6C6C6C;
  font-size: 12px;
  line-height: 17px;
}

.modal__header___3UtZQ {
  float: left;
  width: 100%;
  border: 1px solid #E1E1E1;
  padding: 10px;
  border-spacing: 10px;
  box-shadow: 2px 3px 2px 0 rgba(0, 0, 0, 0.1);
  display: table;
}

.modal__headerArea___kIgi- {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal__headerArea___kIgi- ul {
  background: #F5F5F5;
  border: 2px dashed #E0E0E0;
  padding: 10px;
  min-height: 60px;
  font-weight: bold;
  color: #BBBDC1;
  position: relative;
  list-style: none;
  margin: 5px;
  width: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal__headerArea___kIgi- ul:nth-child(2) {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal__headerArea___kIgi- ul:last-child {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.modal__headerArea___kIgi- ul:before {
  position: absolute;
  z-index: -1;
  text-align: center;
  width: 100%;
  left: 0;
  top: calc(50% - 7px);
}

.modal__headerArea___kIgi- li {
  display: inline-block;
  font-size: 12px;
  font-weight: normal;
  color: white;
  background: #1FADD6;
  border-radius: 2px;
  line-height: 25px;
  height: 25px;
  padding: 0 10px;
  margin: 0 5px 5px 0;
  cursor: move;
}

.modal__headerArea___kIgi-:first-child ul:first-child:before {
  content: 'TOP LEFT';
}

.modal__headerArea___kIgi-:first-child ul:nth-child(2):before {
  content: 'TOP CENTER';
}

.modal__headerArea___kIgi-:first-child ul:last-child:before {
  content: 'TOP RIGHT';
}

.modal__headerArea___kIgi-:nth-child(2) ul:first-child:before {
  content: 'MAIN LEFT';
}

.modal__headerArea___kIgi-:nth-child(2) ul:nth-child(2):before {
  content: 'MAIN CENTER';
}

.modal__headerArea___kIgi-:nth-child(2) ul:last-child:before {
  content: 'MAIN RIGHT';
}

.modal__headerArea___kIgi-:last-child ul:first-child:before {
  content: 'BOTTOM LEFT';
}

.modal__headerArea___kIgi-:last-child ul:nth-child(2):before {
  content: 'BOTTOM CENTER';
}

.modal__headerArea___kIgi-:last-child ul:last-child:before {
  content: 'BOTTOM RIGHT';
}

.modal__close___3_Fj5 {
  display: inline-block;
  color: white;
  font-size: 10px;
  line-height: 25px;
  margin-left: 5px;
  cursor: pointer;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.modal__close___3_Fj5:hover {
  -webkit-transform: rotate(1turn);
          transform: rotate(1turn);
}

.modal__sortableGhost___a1IfB {
  opacity: 0.4;
}


/*# sourceMappingURL=helpers.css.map*/