.cell {
    position: relative;
    padding: 5px;
    width: 100%;

    &:nth-child(2) {
        text-align: center;
    }

    &:nth-child(3) {
        text-align: right;
    }
}

.sortableGhost {
    opacity: 0.4;
}

.cellValid {
    background: #c4fdbb !important;
    border-color: #73956f !important;
}

.cellInvalid {
    background: #ffa3a3 !important;
    border-color: #9c6262 !important;

    * { pointer-events: none; }

    & + .validationTooltip {
        display: block;
    }
}

.validationTooltip {
    position: absolute;
    z-index: 2;
    bottom: 105%;
    width: 100%;
    text-align: center;
    display: none;

    &:after {
        background: #C0312E;
        color: white;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        font-weight: normal;
        font-size: 12px;
        line-height: 15px;
        border-radius: 3px;
        display: inline-block;
        padding: 5px 10px;
        content: attr(data-message);
    }

    &:before {
        display: inline-block;
        text-decoration: none;
        position: absolute;
        width: 0;
        height: 0;
        color: #C0312E;
        pointer-events: none;
        content: "";
        border: 5px solid transparent;
        top: auto;
        right: 50%;
        bottom: -10px;
        margin-right: -5px;
        border-top-color: #C0312E;
    }
}

.cellTags {
  display: block;
  height: inherit;
}

.cellTag {
  display: inline-block;
  cursor: move;
  margin: 0 5px 5px 0;
  font-weight: normal;

  button {
    cursor: pointer;
    transition: transform .5s;

    &:hover {
      transform: rotate(1turn);
    }

    &:focus {
      outline: 1px solid darkblue;
    }
  }
}

[data-mq="mobile"] > div {
  &:first-child {
    .cellTags {
      &:first-child:before {
        content: 'TOP LEFT';
      }

      &:nth-child(2):before {
        content: 'TOP CENTER';
      }

      &:nth-child(3):before {
        content: 'TOP RIGHT';
      }
    }
  }

  &:nth-child(2) {
    .cellTags {
      text-align: center;
      &:before {
        content: 'MAIN';
      }
    }
  }

  &:last-child {
    .cellTags {
      text-align: center;
      &:before {
        content: 'BOTTOM';
      }
    }
  }
}

[data-mq="tablet"] > div,
[data-mq="desktop"] > div {
  &:first-child {
    .cellTags {
      &:first-child:before {
        content: 'TOP LEFT';
      }

      &:nth-child(2):before {
        content: 'TOP CENTER';
      }

      &:nth-child(3):before {
        content: 'TOP RIGHT';
      }
    }
  }

  &:nth-child(2) {
    .cellTags {
      &:first-child:before {
        content: 'MAIN LEFT';
      }

      &:nth-child(2):before {
        content: 'MAIN CENTER';
      }

      &:nth-child(3):before {
        content: 'MAIN RIGHT';
      }
    }
  }

  &:last-child {
    .cellTags {
      &:first-child:before {
        content: 'BOTTOM LEFT';
      }

      &:nth-child(2):before {
        content: 'BOTTOM CENTER';
      }

      &:nth-child(3):before {
        content: 'BOTTOM RIGHT';
      }
    }
  }
}