$c1: #F5F5F5;
$c2: #343434;
$c3: #E0E0E0;
$c4: #2F5A59;
$c5: #1FADD6;
$c6: #E1E1E1;
$c7: #F5F5F5;
$c8: #6C6C6C;
$c9: #BBBDC1;
$c10: #CCCCCC;
$c11: #c1c1c1;

.background {
    background: rgba(black, 0.5);
    position: fixed;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

.base {
    background: white;
    padding: 20px;
    position: relative;
    top: 180px;
    box-shadow: 0 0 0 5px rgba(white, 0.25);
    border-radius: 5px;
    user-select: none;

    * {
        user-select: none;
        font-family: 'Open Sans', Arial, Helvetica, sans-serif ;
    }
}

.tabs {
    margin-top: -58px;

    & > ul > li {
        background: $c1;
        margin-left: 5px;
        border-radius: 5px 5px 0 0;
        color: #0275D8;
        vertical-align: bottom;

        &[role=tab][aria-selected=true] {
            padding: 10px 12px;
            color: #373A3C;
        }
    }
}


.h1 {
    font-size: 24px;
    font-weight: normal;
    margin: 30px 0;
}

.h2 {
    background: $c4;
    color: white;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: normal;
    display: inline-block;
}

.componentsContainer {
    height: 150px;
    border: 1px solid $c6;
    padding: 10px;

    ul {
        list-style: none;
        height: 100%;
        overflow: auto;
    }

    li {
        display: inline-block;
        font-size: 14px;
        color: white;
        background: $c5;
        border-radius: 2px;
        line-height: 25px;
        height: 25px;
        padding: 0 10px;
        margin: 0 5px 5px 0;
        cursor: move;
        transition: background .4s;

        .close {
            display: none;
        }
    }
}

.codeContainer {
    height: 150px;
    border: 1px solid $c6;
    position: relative;

    transition: all .5s;

    &:hover {
        border-color: $c2;

        .copy {
            background: $c2;
        }

        .code {
            color: $c2;
        }
    }
}

.code {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 10px;
    color: $c11;
    font-size: 12px;
    transition: all .5s;
    user-select: all;

    &::selection {
        background: $c4;
        color: white;
    }
}

.copy {
    position: absolute;
    bottom: 0;
    right: 0;
    background: $c10;
    color: white;
    text-align: center;
    font-size: 16px;
    padding: 5px 10px;
    border-top-left-radius: 10px;
    cursor: pointer;
    transition: background .5s;
}

.container {
    margin-top: 30px;
    width: 100%;
    clear: both;
    float: left;

    p {
        color: $c8;
        font-size: 12px;
        line-height: 17px;
    }
}

.header {
    float: left;
    width: 100%;
    border: 1px solid $c6;
    padding: 10px;
    border-spacing: 10px;
    box-shadow: 2px 3px 2px 0 rgba(0,0,0,0.1);
    display: table;
}

.headerArea {
    display: flex;

    ul {
        background: $c7;
        border: 2px dashed $c3;
        padding: 10px;
        min-height: 60px;
        font-weight: bold;
        color: $c9;
        position: relative;
        list-style: none;
        margin: 5px;
        width: 100%;
        z-index: 1;

        &:nth-child(2) {
            text-align: center;
        }

        &:last-child {
            text-align: right;
        }

        &:before {
            position: absolute;
            z-index: -1;
            text-align: center;
            width: 100%;
            left: 0;
            top: calc(50% - 7px);
        }
    }

    li {
        display: inline-block;
        font-size: 12px;
        font-weight: normal;
        color: white;
        background: $c5;
        border-radius: 2px;
        line-height: 25px;
        height: 25px;
        padding: 0 10px;
        margin: 0 5px 5px 0;
        cursor: move;
    }

    &:first-child {
        ul:first-child:before { content: 'TOP LEFT'; }
        ul:nth-child(2):before { content: 'TOP CENTER'; }
        ul:last-child:before { content: 'TOP RIGHT'; }
    }

    &:nth-child(2) {
        ul:first-child:before { content: 'MAIN LEFT'; }
        ul:nth-child(2):before { content: 'MAIN CENTER'; }
        ul:last-child:before { content: 'MAIN RIGHT'; }
    }

    &:last-child {
        ul:first-child:before { content: 'BOTTOM LEFT'; }
        ul:nth-child(2):before { content: 'BOTTOM CENTER'; }
        ul:last-child:before { content: 'BOTTOM RIGHT'; }
    }
}

.close {
    display: inline-block;
    color: white;
    font-size: 10px;
    line-height: 25px;
    margin-left: 5px;
    cursor: pointer;
    transition: transform .5s;

    &:hover {
        transform: rotate(1turn);
    }
}

.sortableGhost {
    opacity: 0.4;
}