.h2 {
    background: #2F5A59;
    color: white;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: normal;
    display: inline-block;
}

.componentsContainer {
    height: 150px;
    border: 1px solid #E1E1E1;
    padding: 10px;
    position: relative;

    ul {
        list-style: none;
        height: 100%;
        overflow: auto;
    }

    li {
        display: inline-block;
        font-size: 14px;
        color: white;
        background: #1FADD6;
        border-radius: 2px;
        line-height: 25px;
        height: 25px;
        padding: 0 10px;
        margin: 0 5px 5px 0;
        cursor: move;
        transition: background .4s;

        .close {
            display: none;
        }
    }
}

.codeContainer {
    height: 150px;
    border: 1px solid #E1E1E1;
    position: relative;

    transition: all .5s;

    &:hover {
        border-color: #343434;

        .copy {
            background: #343434;
        }

        .copied {
            &:before {
                display: inline-block;
                text-decoration: none;
                position: absolute;
                z-index: 1000001;
                width: 0;
                height: 0;
                color: rgba(0,0,0,0.8);
                pointer-events: none;
                content: "";
                border: 5px solid transparent;
                top: auto;
                right: 50%;
                bottom: -5px;
                margin-right: -5px;
                border-bottom-color: rgba(0,0,0,0.8);
            }

            &:after {
                position: absolute;
                z-index: 1000000;
                padding: 5px 8px;
                font: normal normal 11px/1.5 Helvetica,arial,sans-serif;
                color: #fff;
                text-align: center;
                text-decoration: none;
                text-shadow: none;
                text-transform: none;
                letter-spacing: normal;
                word-wrap: break-word;
                white-space: pre;
                pointer-events: none;
                content: "Copied !";
                background: rgba(0,0,0,0.8);
                border-radius: 3px;
                -webkit-font-smoothing: subpixel-antialiased;
                display: inline-block;
                transform: translateX(50%);
                top: 100%;
                right: 50%;
                margin-top: 5px;
            }
        }

        .code {
            color: #343434;
        }
    }
}

.code {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 10px;
    color: #c1c1c1;
    font-size: 12px;
    transition: all .5s;
    user-select: all;

    &::selection {
        background: #2F5A59;
        color: white;
    }
}

.copy {
    position: absolute;
    bottom: 0;
    right: 0;
    background: #CCCCCC;
    color: white;
    text-align: center;
    font-size: 16px;
    padding: 5px 10px;
    border-top-left-radius: 10px;
    cursor: pointer;
    transition: background .5s;
}

.container {
    margin-top: 30px;
    width: 100%;
    clear: both;
    float: left;

    p {
        color: #6C6C6C;
        font-size: 12px;
        line-height: 17px;
    }
}

.header {
    float: left;
    width: 100%;
    border: 1px solid #E1E1E1;
    padding: 10px;
    border-spacing: 10px;
    box-shadow: 2px 3px 2px 0 rgba(0,0,0,0.1);
    display: table;
}

.headerArea {
    display: flex;

    ul {
        background: #F5F5F5;
        border: 2px dashed #E0E0E0;
        padding: 10px;
        min-height: 60px;
        font-weight: bold;
        color: #BBBDC1;
        position: relative;
        list-style: none;
        margin: 5px;
        width: 100%;
        z-index: 1;
        overflow: hidden;

        &:nth-child(2) {
            text-align: center;
        }

        &:nth-child(3) {
            text-align: right;

            li {
                float: right;
            }
        }

        &:before {
            position: absolute;
            z-index: -1;
            text-align: center;
            width: 100%;
            left: 0;
            top: calc(50% - 7px);
        }
    }

    li {
        display: inline-block;
        font-size: 12px;
        font-weight: normal;
        color: white;
        background: #1FADD6;
        border-radius: 2px;
        line-height: 25px;
        height: 25px;
        padding: 0 10px;
        margin: 0 5px 5px 0;
        cursor: move;
    }

    .mobile > & {
        &:first-child {
            ul:first-child:before { content: 'TOP LEFT'; }
            ul:nth-child(2):before { content: 'TOP CENTER'; }
            ul:last-child:before { content: 'TOP RIGHT'; }
        }

        &:nth-child(2) {
            ul {
                text-align: center;
                &:before { content: 'MAIN'; }
            }
        }

        &:last-child {
            ul {
                text-align: center;
                &:before { content: 'BOTTOM'; }
            }
        }
    }

    .tablet > &,
    .desktop > & {
        &:first-child {
            ul:first-child:before { content: 'TOP LEFT'; }
            ul:nth-child(2):before { content: 'TOP CENTER'; }
            ul:last-child:before { content: 'TOP RIGHT'; }
        }

        &:nth-child(2) {
            ul:first-child:before { content: 'MAIN LEFT'; }
            ul:nth-child(2):before { content: 'MAIN CENTER'; }
            ul:last-child:before { content: 'MAIN RIGHT'; }
        }

        &:last-child {
            ul:first-child:before { content: 'BOTTOM LEFT'; }
            ul:nth-child(2):before { content: 'BOTTOM CENTER'; }
            ul:last-child:before { content: 'BOTTOM RIGHT'; }
        }
    }
}

.sortableGhost {
    opacity: 0.4;
}

.cellValid {
    background: #e8fde7 !important;
}

.cellInvalid {
    background: #ffa3a3 !important;

     * { pointer-events: none; }
}