////////////////////////
// Overlay animations //
////////////////////////

// FADE
.menu-fade {
    visibility: hidden;
    opacity: 0;
    transition: opacity .4s ease, visibility 0s ease .4s
}

.activateMenu .menu-fade {
    visibility: visible;
    opacity: 1;
    transition: opacity .4s ease 0s, visibility 0s ease 0s
}


.fade-appear,
.fade-enter {
    opacity: 0.01;
}

.fade-enter.fade-enter-active,
.fade-appear.fade-appear-active {
    opacity: 1;
    transition: opacity 250ms ease-in;
}

.fade-leave {
    opacity: 1;
}

.fade-leave.fade-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}

// SLIDE DOWN
.slideDown-appear,
.slideDown-enter,
.slideDown-leave.slideDown-leave-active {
    visibility: hidden;
    transform: translateY(-100%);
    transition: transform 0.4s ease-in-out, visibility 0s 0.4s;
}

.slideDown-enter.slideDown-enter-active,
.slideDown-appear.slideDown-appear-active,
.slideDown-leave {
    visibility: visible;
    transform: translateY(0%);
    transition: transform 0.4s ease-in-out;
}

// SIMPLE GENIE
.genie-appear,
.genie-enter,
.genie-leave.genie-leave-active {
    visibility: hidden;
    transform: translateY(60%) scale(0);
    transition: transform 0.4s, visibility 0s 0.4s;
}

.genie-enter.genie-enter-active,
.genie-appear.genie-appear-active,
.genie-leave {
    visibility: visible;
    transform: translateY(0%) scale(1);
    transition: transform 0.4s;
}

// Scale
.scale-appear,
.scale-enter,
.scale-leave.scale-leave-active {
    visibility: hidden;
    opacity: 0;
    transform: scale(0.9);
    transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
}

.scale-enter.scale-enter-active,
.scale-appear.scale-appear-active,
.scale-leave {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    transition: transform 0.4s, opacity 0.4s;
}

// Corner
.corner-appear,
.corner-enter,
.corner-leave.corner-leave-active {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-50px) translateX(-50px);
    transition: opacity 0.5s, transform 0.5s, visibility 0s 0.5s;
}

.corner-enter.corner-enter-active,
.corner-appear.corner-appear-active,
.corner-leave {
    visibility: visible;
    opacity: 1;
    transform: translateY(0%);
    transition: opacity 0.5s, transform 0.5s;
}


////////////////////////
// Slide animations //
////////////////////////
$sliderWidth: 300px;

.menu-slideLeft,
.menu-pushLeft {
    left: 0;
    width: $sliderWidth;
    transform: translateX(-$sliderWidth);
    transition: transform .4s;
}

.menu-slideRight,
.menu-pushRight {
    right: 0;
    width: $sliderWidth;
    transform: translateX($sliderWidth);
    transition: transform .4s;
}

.pageWrap-push {
    transition: transform .4s;
}

.activateMenu {
    .menu-slideLeft,
    .menu-slideRight,
    .menu-pushLeft,
    .menu-pushRight {
        transform: initial;
    }

    .pageWrap-pushLeft {
        transform: translateX($sliderWidth);
    }
    .pageWrap-pushRight {
        transform: translateX(-$sliderWidth);
    }
}
