.wishlist {
    display: inline-block;
    vertical-align: top;
    text-transform: uppercase;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    cursor: pointer;

    .wishlist__link {
        color: $header-link-color;
        padding-right: 10px;
        cursor: pointer;
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-transform: capitalize;
        vertical-align: top;

        &.is-active {
            color: $header-link-color--active;
        }

        &.is-animated {
            transition: all .3s ease-in-out;
        }
    }

    .wishlist__icon {
        transition: fill 0.3s ease-in-out;
        height: $headerTopTabletIcon-height;
        width: $headerTopTabletIcon-height + 2;
        fill: $header-icon-color;
        overflow: visible;

        &:last-child {
            display: none;
        }

        @include breakpoint($screen-lg) {
            height: $headerTopDesktopIcon-height;
            width: $headerTopDesktopIcon-height + 2;
        }
    }

    .wishlist__counter {
        font-size: 10px;
        line-height: 10px;
        float: right;
        color: $header-link-color;
        margin-left: 2px;
        display: none;
    }

    .wishlist__img {
        display: inline-block;
        position: relative;
        vertical-align: middle;
        height: $headerTopTabletIcon-height;

        @include breakpoint($screen-lg) {
            height: $headerTopDesktopIcon-height;
        }
    }

    .wishlist__img.is-active {
        .wishlist__icon {
            display: none;

            &:last-child {
                display: block;
            }
        }

        .wishlist__counter {
            display: block;
        }
    }

    &:hover,
    &.is-active {
        .wishlist__icon {
            fill: $header-icon-color--active;
        }

        .wishlist__counter {
            color: $header-link-color--active;
        }
    }
}