.headerMain {
  padding-top: 10px;
  padding-bottom: 10px;

  .match-media {
    display: table;
    width: 100%;
    height: inherit;
  }

  @include breakpoint($screen-md) {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  @include breakpoint($screen-lg) {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .headerMain__items {
    display: table-cell;
    vertical-align: middle;
    width: 33.33%;

    &:last-child {
      text-align: right;
    }
  }

  &.center .headerMain__items {
    width: 100%;
  }
}
