.menu {
    margin: 0 auto;
    width: 90%;
    font-family: "Open Sans", serif;
    font-size: 20px;
    text-align: center;
    list-style: none;
    margin-top: 50px;
}

.slider {
    width: 90%;
    background: white;
    z-index: 2;
    position: absolute;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    left: 0;
    box-shadow: rgba(0, 0, 0, 0.14902) 2px 2px 4px;
}

.sliderRightSide {
    left: auto;
    right: 0;
}