.sortableGhost {
    opacity: 0.4;
}

.cellValid {
    background: #c4fdbb !important;
    border-color: #73956f !important;
}

.cellInvalid {
    background: #ffa3a3 !important;
    border-color: #9c6262 !important;

    * { pointer-events: none; }
}