// Page Colors
$mobile-page-background-color: #fff;
$tablet-page-background-color: #fff;
$desktop-page-background-color: #fff;

$mobile-page-text-color: #44423E;
$tablet-page-text-color: #44423E;
$desktop-page-text-color: #44423E;

$mobile-page-link-color: #000;
$tablet-page-link-color: #000;
$desktop-page-link-color: #000;

$mobile-border-color: #F2F2F2;
$tablet-border-color: #F2F2F2;
$desktop-border-color: #F2F2F2;