.menu {
    margin: 20px auto 0;
    width: 90%;
    font-family: "Open Sans", serif;
    font-size: 20px;
    text-align: center;
    list-style: none;
}

$sliderWidth: 300px;

.slider {
    background: #b1e8ff;
    z-index: 2;
    height: 100%;
    overflow: auto;
    width: $sliderWidth;
    position: fixed;
    transition: transform .4s;
}

.sliderLeft {
    left: 0;
    transform: translateX(-$sliderWidth);
}

.sliderRight {
    right: 0;
    transform: translateX($sliderWidth);
}