.menu {
    margin: 20px auto 0;
    width: 90%;
    font-family: "Open Sans", serif;
    font-size: 20px;
    text-align: center;
    list-style: none;
}

.slider {
    background: #b1e8ff;
    z-index: 2;
    height: 100%;
    overflow: auto;
}