.headerArea {
  display: flex;

  & > div > span {
    display: block;
    background: #F5F5F5;
    border: 2px dashed #E0E0E0;
    padding: 10px;
    min-height: 60px;
    font-weight: bold;
    color: #BBBDC1;
    position: relative;
    width: 100%;
    z-index: 1;
    height: 100%;

    &:before {
      position: absolute;
      z-index: -1;
      text-align: center;
      width: 100%;
      left: 0;
      top: calc(50% - 7px);
    }
  }
}