.base {
    background: white;
    padding: 0 0 20px;
    position: relative;
    top: 100px;
    box-shadow: 0 0 0 5px rgba(white, 0.25);
    border-radius: 5px;
    user-select: none;
    z-index: 21;

    * {
        user-select: none;
    }
}

.h1 {
    font-size: 24px;
    font-weight: bold;
    padding: 20px;
    border-bottom: 1px solid #f0f0f0;
    margin: 0;
}

.tabs {
    padding: 20px;

    & > ul[role=tablist] {
        border-bottom: 1px solid #e4e4e4;
        margin-bottom: 20px;
    }

    & > ul > li[role=tab] {
        margin-left: 5px;
        border-radius: 5px 5px 0 0;
        padding: 10px 12px;
        color: #337ab7;
        text-transform: capitalize;

        &:hover {
            border-color: #eceeef #eceeef #ddd;
        }

        &[aria-selected=true] {
            color: #555;
            border-color: #e4e4e4;

            &:hover {
                border-color: #e4e4e4;
            }
        }
    }
}

.h2 {
    background: #2F5A59;
    color: white;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: normal;
    display: inline-block;
}

.componentsContainer {
    height: 150px;
    border: 1px solid #E1E1E1;

    & > div {
        height: 100%;
    }

    ul {
        list-style: none;
        height: 100%;
        overflow: auto;
        padding: 10px;
    }

    li {
        display: inline-block;
        font-size: 14px;
        color: white;
        background: #1FADD6;
        border-radius: 2px;
        line-height: 25px;
        height: 25px;
        padding: 0 10px;
        margin: 0 5px 5px 0;
        cursor: move;
        transition: background .4s;

        .close {
            display: none;
        }
    }
}

.container {
    margin-top: 30px;
    width: 100%;
    clear: both;
    float: left;

    p {
        color: #6C6C6C;
        font-size: 12px;
        line-height: 17px;
    }
}

.header {
    float: left;
    width: 100%;
    border: 1px solid #E1E1E1;
    padding: 10px;
    box-shadow: 2px 3px 2px 0 rgba(0, 0, 0, 0.1);
}
