.headerArea {
    display: flex;

    ul {
        background: #F5F5F5;
        border: 2px dashed #E0E0E0;
        padding: 10px;
        min-height: 60px;
        font-weight: bold;
        color: #BBBDC1;
        position: relative;
        list-style: none;
        width: 100%;
        z-index: 1;
        height: 100%;

        &:before {
            position: absolute;
            z-index: -1;
            text-align: center;
            width: 100%;
            left: 0;
            top: calc(50% - 7px);
        }
    }

    li {
        display: inline-block;
        font-size: 12px;
        font-weight: normal;
        color: white;
        background: #1FADD6;
        border-radius: 2px;
        line-height: 25px;
        height: 25px;
        padding: 0 10px;
        margin: 0 5px 5px 0;
        cursor: move;
    }

    [data-mq="mobile"] > & {
        &:first-child {
            ul:first-child:before { content: 'TOP LEFT'; }
            ul:nth-child(2):before { content: 'TOP CENTER'; }
            ul:last-child:before { content: 'TOP RIGHT'; }
        }

        &:nth-child(2) {
            ul {
                text-align: center;
                &:before { content: 'MAIN'; }
            }
        }

        &:last-child {
            ul {
                text-align: center;
                &:before { content: 'BOTTOM'; }
            }
        }
    }

    [data-mq="tablet"] > &,
    [data-mq="desktop"] > & {
        &:first-child {
            ul:first-child:before { content: 'TOP LEFT'; }
            ul:nth-child(2):before { content: 'TOP CENTER'; }
            ul:last-child:before { content: 'TOP RIGHT'; }
        }

        &:nth-child(2) {
            ul:first-child:before { content: 'MAIN LEFT'; }
            ul:nth-child(2):before { content: 'MAIN CENTER'; }
            ul:last-child:before { content: 'MAIN RIGHT'; }
        }

        &:last-child {
            ul:first-child:before { content: 'BOTTOM LEFT'; }
            ul:nth-child(2):before { content: 'BOTTOM CENTER'; }
            ul:last-child:before { content: 'BOTTOM RIGHT'; }
        }
    }
}