.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background: rgba(0,0,0,0.7);
}

.modalLight {
    background: rgba(255,255,255,0.75);
}

.fadeAppear {
    opacity: 0.01;
}

.fadeAppear.fadeAppearActive {
    opacity: 1;
    transition: opacity .5s ease-in;
}
