/*============================================================================
  #General Variables
==============================================================================*/

$base-font-family:       'Source Sans Pro', sans-serif;
$h1-font-family:         inherit;
$h2-font-family:         inherit;
$h3-font-family:         inherit;
$h4-font-family:         inherit;
$h5-font-family:         inherit;
$h6-font-family:         inherit;

$mobile-base-font-size:  14px;
$tablet-base-font-size:  14px;
$desktop-base-font-size: 14px;

$mobile-h1-font-size:    36px;
$tablet-h1-font-size:    36px;
$desktop-h1-font-size:   36px;

$mobile-h2-font-size:    30px;
$tablet-h2-font-size:    30px;
$desktop-h2-font-size:   30px;

$mobile-h3-font-size:    24px;
$tablet-h3-font-size:    24px;
$desktop-h3-font-size:   24px;

$mobile-h4-font-size:    18px;
$tablet-h4-font-size:    18px;
$desktop-h4-font-size:   18px;

$mobile-h5-font-size:    18px;
$tablet-h5-font-size:    18px;
$desktop-h5-font-size:   18px;

$mobile-h6-font-size:    18px;
$tablet-h6-font-size:    18px;
$desktop-h6-font-size:   18px;